html {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

*, *::before, *::after {
    box-sizing: inherit;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 60em;
    margin: 2em;
    border: .1em solid #3c3b41;
    border-radius: 1em;
}

header, footer {
    background-color: #3c3b41;
    padding: 2em;
    text-align: center;
    color: #fff;
}

main {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    font-weight: bold;
}

form {
    padding: 2em;
    display: flex;
    flex-direction: column;
    width: 100%;
    border-bottom: .1em solid #3c3b41;
}

label {
    display: flex;
    flex-direction: column;
    margin: .5em 0;
}

input {
    width: 100%;
    margin-top: .5em;
    height: 2em;
    border-radius: .2em;
    padding: 0 .5em;
}

input[type="text"], input[type="email"], input[type="tel"], input[type="button"] {
    border: 1px solid #a9a9a9;
}

input[type="button"] {
    margin-top: 2em;
    background-color: #3c3b41;
    color: #fff;
    padding: 1em;
    flex: 1;
    font-weight: bold;
}

input[type="button"]:hover {
    background-color: #58575e;
}

input[type="button"]:active {
    box-shadow: inset 0 0 1em .5em #3c3b41;
}

#resultat {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.carte {
    margin: 2em;
    width: 100%;
    padding-top: 57.14%;
    position: relative;
    border: 1px solid #000;
}

.carte > * {
    position: absolute;
}

.carte .couleur1 {
    height: 20%;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #181d1b;
    z-index: 1;
}

.carte .couleur2 {
    width: 10%;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #268249;
}

.carte .entreprise {
    width: 80%;
    top: 18%;
    left: 10%;
    font-family: 'Anton', sans-serif;
    font-size: 10vw;
    letter-spacing: .05em;
}

.carte .info {
    width: 80%;
    bottom: 30%;
    left: 10%;
}

.carte .info > * {
    display: flex;
    align-items: center;
    margin: .3em 0;
    font-size: .9em;
}

.carte .info img {
    width: 3.5%;
    margin-right: 1em;
}

@media (min-width: 50em){
    form {
        padding: 1em;
        max-width: 20em;
        border-right: .1em solid #3c3b41;
        border-bottom: none;
    }

    .content-wrapper {
        flex-direction: row;
    }

    .carte .entreprise {
        font-size: 6vw;
    }
}

@media (min-width: 64em){
    .carte .entreprise {
        font-size: 3.84em;
    }
}
